*{

    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(127, 208, 255);
    min-height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
  }

  html {
    scroll-behavior: smooth; 
  }

 /* Header */

.header {
    background-color: #136cb4;
} 

.nav-list{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: white;
    background-color: #136cb4;
    padding: 30px 20px;
    line-height: 50px;
    transition: .3s;
  }

.nav-link:hover, .nav-link:active {
    background-color: #0d538d;
}

 /* Header end*/

.avatar {
    margin-top: 30px;
    border-radius: 200px; /* Радиус скругления */
    box-shadow: 0 0 7px rgb(38, 193, 221); /* Параметры тени */
}


/* main */
 .bold {
     font-weight: bold;
 }

 .italics {
     font-style: italic;
 }

.lis-disc {
    list-style-type: disc;
}

.lis-circle {
    list-style-type: circle;
}

.code {
    background-color: rgb(34, 34, 34);
    color: white;
    width: 40%;
}
.light{
    color: mediumvioletred;
}
/* main */


/* footer */

.footer {
    background-color: #136cb4;
}

.inf-footer {
    color: white;
}

.git-link {
    text-decoration: none;
    color: white;
}

.date {
    color: white;
}

.rss-img{
    width: 121px;
    height: 45px;
    margin-left: 90%;   
}
/* footer end */